# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/.gitignore
android/app/build.gradle
android/app/src/debug/
android/app/src/main/AndroidManifest.xml
android/app/src/main/kotlin/
android/app/src/main/res/
android/app/src/profile/
android/build.gradle
android/gradle.properties
android/gradle/wrapper/gradle-wrapper.properties
android/settings.gradle
ios/.gitignore
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Runner.xcodeproj/
ios/Runner.xcworkspace/
ios/Runner/AppDelegate.swift
ios/Runner/Assets.xcassets/
ios/Runner/Base.lproj/
ios/Runner/Info.plist
ios/Runner/Runner-Bridging-Header.h
